body {
  overflow-x: hidden;
}
* {
  box-sizing: border-box;
}

@import url(./components/header.module.css);
@import url(./components/Container.module.css);
@import url(./components/AboutUs.module.css);
@import url(./components/Services.module.css);
@import url(./components/Improve.module.css);
@import url(./components/Static.module.css);
@import url(./components/Blog.module.css);


.Youtube {
  display: flex;
  position: absolute;
  background-color: orange;
  top: 44%;
  left: 64%;
  font-size: 30px;
  padding-left: 6px;
  width: 105px;
  height: 105px;
  border-radius: 50%;
  justify-content: center;
  align-items: center;
  animation: spinneer 2s infinite;
}
@keyframes spinneer {
  0% {
    box-shadow: 0 0 0 0 rgb(255 255 255 / 99%);
  }
  100% {
    box-shadow: 0 0 0 20px rgb(255 255 255 / 1%);
  }
}
